<mat-grid-list cols="2" rowHeight="2:1">
   
      <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Backend skills
                </mat-card-title>
                <mat-card-subtitle>
                    Java
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Java 8, 11, 17, 22</p>
              <p>Streams API</p>
                <p>Exception Handling</p>
                <p>Vert.x</p>
                <p>Java Database Connectivity (JDBC) </p>
              <p>Spring Boot / Spring</p>
              <p>Spring MVC</p>
              <p>Spring Security</p>
              <p>Spring Data JPA + Hibernate + Jakarta Persistence</p>
              <p>Spring LDAP/p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

  </mat-grid-list>