.docs-header-background {
    overflow: hidden;
    position: relative;
    height: 420px;
    background: var(--mat-sys-primary-container);
    background-image: url('/banner.png');
}

.docs-header-section {
    width: 90%;
    position: absolute;
    z-index: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.docs-header-headline {
    color: var(--mat-sys-on-primary-container);
}

.docs-header-headline h1 {
    font-size: 56px;
    font-weight: 500;
    line-height: 56px;
    margin: 15px 5px;
}

.docs-header-headline h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px;
}

.docs-header-start {
    text-align: center;
    margin: 50px 0 0;
}

.docs-header-start .mat-mdc-raised-button {
    font-size: 15px;
}

