.sidenav-container {
 height: 100%;
 position: sticky;
 top: 0;
  z-index: 1000;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: -1;
  // background: oklch(47.66% 0.246 305.88)
}

mat-sidenav-content {
  background-color: black;
}

svg {
  z-index: 10;
}

.spacer {
    flex: 1 1 auto;
}

.social-links-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}
