<p>carousel works!</p>
<button aria-hidden="true" tabindex="-1" mat-icon-button="" aria-label="previous"
    class="docs-carousel-nav docs-carousel-nav-prev mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
    mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple"
    mat-ripple-loader-centered="">
    <span class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple">
        <!-- ::before -->
    </span>
    <mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color"
        aria-hidden="true" data-mat-icon-type="font">navigate_before</mat-icon>
    <span class="mat-focus-indicator">

    </span>
    <span class="mat-mdc-button-touch-target">

    </span>
</button>
<div role="region" class="docs-carousel-content-wrapper">
    <div role="list" tabindex="0" class="docs-carousel-content" style="transform: translateX(-297px);">
        <a role="listitem" tabindex="tabindex" carousel-item=""
            class="carousel-item docs-featured-components-carousel-item" href="/components/datepicker">
            <div class="docs-homepage-img-container">
                <img alt="" role="presentation" src="../../../assets/screenshots/datepicker.scene.png">
            </div>
            Datepicker
        </a>
        <a role="listitem" tabindex="tabindex" carousel-item=""
            class="carousel-item docs-featured-components-carousel-item" href="/components/input">
            <div class="docs-homepage-img-container">
                <img alt="" role="presentation" src="/SteveLee_mascot.png">
            </div> Input
        </a>
        <a role="listitem" tabindex="tabindex" carousel-item=""
            class="carousel-item docs-featured-components-carousel-item" href="/components/slide-toggle">
            <div class="docs-homepage-img-container">
                <img alt="" role="presentation" src="../../../assets/screenshots/slide-toggle.scene.png">
            </div> Slide
            toggle
        </a>
        <a role="listitem" tabindex="tabindex" carousel-item=""
            class="carousel-item docs-featured-components-carousel-item" href="/components/slider">
            <div class="docs-homepage-img-container">
                <img alt="" role="presentation" src="../../../assets/screenshots/slider.scene.png">
            </div> Slider
        </a>
        <a role="listitem" tabindex="tabindex" carousel-item=""
            class="carousel-item docs-featured-components-carousel-item" href="/components/button">
            <div class="docs-homepage-img-container">
                <img alt="" role="presentation" src="../../../assets/screenshots/button.scene.png">
            </div> Button
        </a>
        <!---->
    </div>
</div>
<button aria-hidden="true" tabindex="-1" mat-icon-button="" aria-label="next"
    class="docs-carousel-nav docs-carousel-nav-next mdc-icon-button mat-mdc-icon-button mat-unthemed mat-mdc-button-base"
    mat-ripple-loader-class-name="mat-mdc-button-ripple" mat-ripple-loader-centered="">
    <span class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple">
    </span>
    <mat-icon role="img" class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color"
        aria-hidden="true" data-mat-icon-type="font">navigate_next</mat-icon>
    <span class="mat-focus-indicator">

    </span>
    <span class="mat-mdc-button-touch-target">
    </span>
    <span class="mat-ripple mat-mdc-button-ripple">

    </span>
</button>