<div class="action-buttons">
    <button mat-button (click)="accordion().openAll()"><mat-icon>open_in_full</mat-icon>Expand All</button>
    <button mat-button (click)="accordion().closeAll()"><mat-icon>close_fullscreen</mat-icon>Collapse All</button>
</div>
<mat-accordion class="headers-align" multi>
    @for (exp of exps; track exp.id) {

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> {{ exp.title}} </mat-panel-title>
            <mat-panel-description>
                {{ exp.company}}
                <span></span>
                {{ exp.dates }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list class="list-wrapping">
            @for (highlight of exp.highlights; track highlight.keyword) {
            <mat-list-item lines="2">
                <span matListItemTitle><mat-icon>check_small</mat-icon>{{ highlight.keyword }}</span>
                <span>
                    {{ highlight.description }}
                </span>
            </mat-list-item>
            }
        </mat-list>
    </mat-expansion-panel>
    }
</mat-accordion>