<div class="action-buttons">
    <button mat-button (click)="accordion().openAll()">Expand All</button>
    <button mat-button (click)="accordion().closeAll()">Collapse All</button>
</div>
<mat-accordion class="headers-align" multi>
    @for (exp of exps; track exp.id) {

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> {{ exp.title}} </mat-panel-title>
            <mat-panel-description>
                {{ exp.company}}
                <span></span>
                {{ exp.dates }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-list class="example-list-wrapping">
            @for (highlight of exp.highlights; track highlight.keyword) {
            <mat-list-item lines="2">
                <span matListItemTitle>{{ highlight.keyword }}</span>
                <span>
                    {{ highlight.description }}
                </span>
            </mat-list-item>
        }
        </mat-list>
    </mat-expansion-panel>
    }
</mat-accordion>