.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  z-index: 10;
}

header {
  display: block;
  unicode-bidi: isolate;
}

div {
  display: block;
  unicode-bidi: isolate;
}

h1, h2 {
  font-weight: 400;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

main {
  display: block;
  unicode-bidi: isolate;
}

.mat-divider {
  display: block;
  margin: 0;
  border-top-style: solid;
  border-top-color: var(--mat-divider-color, var(--mat-sys-outline));
  border-top-width: var(--mat-divider-width, 1px);
}