.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 10;
}

header {
  display: block;
  unicode-bidi: isolate;
}

div {
  display: block;
  unicode-bidi: isolate;
}

h1,
h2 {
  font-weight: 400;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

main {
  display: block;
  unicode-bidi: isolate;
}

footer {
  display: block;
  unicode-bidi: isolate;
}

a {
  color: var(--mat-sys-on-surface-variant);
  text-decoration: none;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.mat-divider {
  display: block;
  margin: 0;
  border-top-style: solid;
  border-top-color: var(--mat-divider-color, var(--mat-sys-outline));
  border-top-width: var(--mat-divider-width, 1px);
}

app-footer {
  display: block;
  margin-top: 100px;
}

app-logo {
  display: inline-block;
  width: 24px;
  height: 24px;
}

app-carousel {
  display: block;
  position: relative;
}

svg {
  x: 0px;
  y: 0px;
  width: 960px;
  height: 960px;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

// buttons
button {
  appearance: auto;
  text-rendering: auto;
  // color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  // background-color: buttonface;
  margin: 0em;
  padding-block: 1px;
  padding-inline: 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}

.mat-mdc-raised-button:not(:disabled) {
  color: var(--mdc-protected-button-label-text-color, var(--mat-sys-primary));
  background-color: var(--mdc-protected-button-container-color, var(--mat-sys-surface));
}

.mat-mdc-button,
.mat-mdc-unelevated-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mat-mdc-raised-button,
.mat-mdc-raised-button .mdc-button__ripple {
  border-radius: var(--mdc-protected-button-container-shape, var(--mat-sys-corner-full));
}

.mat-mdc-raised-button {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: var(--mdc-protected-button-container-elevation-shadow, var(--mat-sys-level1));
  height: var(--mdc-protected-button-container-height, 40px);
  font-family: var(--mdc-protected-button-label-text-font, var(--mat-sys-label-large-font));
  font-size: var(--mdc-protected-button-label-text-size, var(--mat-sys-label-large-size));
  letter-spacing: var(--mdc-protected-button-label-text-tracking, var(--mat-sys-label-large-tracking));
  text-transform: var(--mdc-protected-button-label-text-transform);
  font-weight: var(--mdc-protected-button-label-text-weight, var(--mat-sys-label-large-weight));
  padding: 0 var(--mat-protected-button-horizontal-padding, 24px);
}

.mdc-button {
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  line-height: inherit;
  -webkit-appearance: none;
  appearance: none;
  overflow: visible;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0);
  padding: 0 8px;
}

.mat-mdc-button-base {
  text-decoration: none;
}

.mat-mdc-button .mdc-button__label,
.mat-mdc-button .mat-icon,
.mat-mdc-unelevated-button .mdc-button__label,
.mat-mdc-unelevated-button .mat-icon,
.mat-mdc-raised-button .mdc-button__label,
.mat-mdc-raised-button .mat-icon,
.mat-mdc-outlined-button .mdc-button__label,
.mat-mdc-outlined-button .mat-icon {
  z-index: 1;
  position: relative;
}

.mat-mdc-icon-button {
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  fill: currentColor;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  z-index: 0;
  overflow: visible;
  border-radius: 50%;
  flex-shrink: 0;
  text-align: center;
  width: var(--mdc-icon-button-state-layer-size, 40px);
  height: var(--mdc-icon-button-state-layer-size, 40px);
  padding: calc(calc(var(--mdc-icon-button-state-layer-size, 40px) - var(--mdc-icon-button-icon-size, 24px)) / 2);
  font-size: var(--mdc-icon-button-icon-size, 24px);
  color: var(--mdc-icon-button-icon-color, var(--mat-sys-on-surface-variant));
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
  border-radius: 50%;
}

.mat-mdc-icon-button .mat-mdc-button-ripple,
.mat-mdc-icon-button .mat-mdc-button-persistent-ripple,
.mat-mdc-icon-button .mat-mdc-button-persistent-ripple::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  border-radius: inherit;
}

.mat-mdc-icon-button .mdc-button__label,
.mat-mdc-icon-button .mat-icon {
  z-index: 1;
  position: relative;
}

.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
  overflow: hidden;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

mat-icon,
mat-icon.mat-primary,
mat-icon.mat-accent,
mat-icon.mat-warn {
  color: var(--mat-icon-color, inherit);
}