<div class="main-content ng-star-inserted">
    <header focusonnavigation="" aria-label="Get started" id="homepage-header" class="docs-header-background"
        tabindex="-1" style="outline: none;">
        <div class="docs-header-section">
            <div class="docs-header-headline">
                <h1 class="mat-h1">Steve S. Lee</h1>
                <h2>Software Development Engineer</h2>
            </div>
            <div class="docs-header-start">
                <a mat-raised-button
                    class="docs-button mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base"
                    mat-ripple-loader-uninitialized="" mat-ripple-loader-class-name="mat-mdc-button-ripple"
                    href="/SteveSLee_resume.pdf" download="SteveSLee_resume.pdf">
                    <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
                    <span class="mdc-button__label">Download Resume</span>
                    <span class="mat-focus-indicator"></span>
                    <span class="mat-mdc-button-touch-target"></span>
                </a>
            </div>
        </div>
    </header>
    <main class="docs-homepage-promo">
        <div class="docs-homepage-row docs-introduction">
            <div class="docs-homepage-row-column">
                <h2>High quality</h2>
                <p> Internationalized and accessible components for everyone. Well tested to
                    ensure performance and reliability. </p>
                <p>Straightforward APIs with consistent cross platform behaviour.</p>
            </div>
            <div class="docs-homepage-row-column">
                <h2>Versatile</h2>
                <p> Provide tools that help developers build their own custom components
                    with common interaction patterns. </p>
                <p> Customizable within the bounds of the Material Design specification.
                </p>
            </div>
            <div class="docs-homepage-row-column">
                <h2>Frictionless</h2>
                <p> Built by the Angular team to integrate seamlessly with Angular. </p>
                <p> Start from scratch or drop into your existing applications. </p>
            </div>
        </div>
        <mat-divider role="separator" class="mat-divider mat-divider-horizontal"
            aria-orientation="horizontal"></mat-divider>
        <div class="docs-homepage-featured-components docs-homepage-carousel-row">
            <div class="docs-homepage-header">
                <h2>Featured components</h2><a mat-button=""
                    routerlink="/components" mat-ripple-loader-class-name="mat-mdc-button-ripple"
                    class="mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base" href="/components"><span
                        class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                        class="mdc-button__label"> View all components </span>
                        <mat-icon
                        role="img" matbuttonicon="" iconpositionend=""
                        class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color"
                        aria-hidden="true" data-mat-icon-type="font">chevron_right</mat-icon><span
                        class="mat-focus-indicator"></span><span class="mat-mdc-button-touch-target"></span><span
                        class="mat-ripple mat-mdc-button-ripple"></span></a>
            </div>
 
        </div><mat-divider role="separator" class="mat-divider mat-divider-horizontal"
            aria-orientation="horizontal"></mat-divider>
        <div class="docs-homepage-guides docs-homepage-carousel-row">
            <div class="docs-homepage-header">
                <h2>Guides</h2><a mat-button=""
                    routerlink="/guides" mat-ripple-loader-class-name="mat-mdc-button-ripple"
                    class="mdc-button mat-mdc-button mat-unthemed mat-mdc-button-base" href="/guides"><span
                        class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span><span
                        class="mdc-button__label"> View all guides </span><mat-icon
                        role="img" matbuttonicon="" iconpositionend=""
                        class="mat-icon notranslate material-icons mat-ligature-font mat-icon-no-color"
                        aria-hidden="true" data-mat-icon-type="font">chevron_right</mat-icon><span
                        class="mat-focus-indicator"></span><span class="mat-mdc-button-touch-target"></span><span
                        class="mat-ripple mat-mdc-button-ripple"></span></a>
            </div>

        </div>
    </main>
</div>