<div class="main-content ng-star-inserted">
    <header focusonnavigation="" aria-label="Get started" id="homepage-header" class="docs-header-background"
        tabindex="-1" style="outline: none;">
        <div class="docs-header-section">
            <div class="docs-header-headline">
                <h1 class="mat-h1">Steve S. Lee</h1>
                <h2>Software Development Engineer</h2>
            </div>
            <div class="docs-header-start">
                <a mat-raised-button
                    class="docs-button mdc-button mdc-button--raised mat-mdc-raised-button mat-unthemed mat-mdc-button-base"
                    mat-ripple-loader-uninitialized="" 
                    mat-ripple-loader-class-name="mat-mdc-button-ripple"
                    href="/SteveSLee_resume.pdf"
                    download="SteveSLee_resume.pdf">
                    <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
                    <span class="mdc-button__label">Download Resume</span>
                    <span class="mat-focus-indicator"></span>
                    <span class="mat-mdc-button-touch-target"></span>
                </a>
            </div>
        </div>
    </header>
</div>