<div class="main-content ng-star-inserted">
    <app-docs-header />
    <main class="docs-homepage-promo">
        <div class="docs-homepage-row docs-introduction">
            <div class="docs-homepage-row-column">
                <h2>Software Engineer</h2>
                <p>I solve real-world problems with computer science fundamentals, data structure, and algorithms</p>
                <p>When my gym coach needed an interactive app, I designed an app where his clients and he can share
                    workout progress. This project is in-progress.</p>
            </div>
            <div class="docs-homepage-row-column">
                <h2>Back-end Developer</h2>
                <p>I design, develop, test, deploy, and troubleshoot servers with RESTful APIs. I use Java and Spring
                    Boot primarily and Go / Golang.</p>
                <p>My past 2.5 years is dedicated to backend development in Java Spring Boot.</p>
            </div>
            <div class="docs-homepage-row-column">
                <h2>Cloud Engineer</h2>
                <p>I can develop and work with cloud native applications. I am well exposed to AWS.</p>
                <p>For 2.5 years, I developed on AWS, leveraging S3, EC2, and Lambda through Openshift console.</p>
            </div>
        </div>
        <mat-divider role="separator" class="mat-divider mat-divider-horizontal" aria-orientation="horizontal" />
        <div class="docs-homepage-featured-components docs-homepage-carousel-row">
            <div class="docs-homepage-header">
                <mat-icon>face</mat-icon>
                <h2>Profile Summary</h2>
            </div>
            <p>
                Software Engineer with 3+ years of experience in Java, Spring Boot, and microservices architecture. Designs,
                develops, tests, and deploys scalable and reliable software systems to cloud infrastructure (AWS). Proven ability to
                collaborate effectively in Agile methodology and solve problems using computer science fundamentals.
            </p>
        </div>
        <mat-divider role="separator" class="mat-divider mat-divider-horizontal" aria-orientation="horizontal" />
        <div class="docs-homepage-guides docs-homepage-carousel-row">
            <div class="docs-homepage-header">
                <mat-icon>work</mat-icon>
                <h2 class="docs-homepage-title">Experience</h2>
            </div>
            <app-exp />
        </div>
    </main>
</div>