<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/']">
        <span class="top-bar-text">My App</span>
    </a>
<!--    <span class="example-spacer"></span>-->
<!--    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
<!--        <mat-icon>favorite</mat-icon>-->
<!--    </button>-->
<!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
<!--        <mat-icon>share</mat-icon>-->
<!--    </button>-->
    <a mat-icon-button class="external-link" href="https://github.com/ssjlee93" target="_blank">
        <img ngSrc="github-mark-white.png" alt="GitHub logo" height="240" width="240"/>
    </a>

</mat-toolbar>
